@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #030014;

  --color-light-100: #cecefb;
  --color-light-200: #a8b5db;

  --color-gray-100: #9ca4ab;

  --color-dark-100: #0f0d23;

  --font-dm-sans: DM Sans, sans-serif;

  --breakpoint-xs: 480px;

  --background-image-hero-pattern: url('/hero-bg.png');
}

@layer base {
  body {
    font-family: 'DM Sans', serif;
    font-optical-sizing: auto;
    background: #030014;
  }

  h1 {
    @apply mx-auto max-w-4xl text-center text-3xl font-bold leading-tight tracking-[-1%] text-white sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-2xl font-bold text-white sm:text-3xl;
  }

  main {
    @apply min-h-screen relative bg-primary;
  }

  .header-content {
    @apply sm:mt-10 mt-5;
  }

  .header-content img {
    @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md;
  }
}

@layer components {
  .pattern {
    @apply bg-hero-pattern w-full h-screen bg-center bg-cover absolute z-0;
  }

  .wrapper {
    @apply px-5 py-12 xs:p-10 max-w-7xl mx-auto flex flex-col relative z-10;
  }

  .trending {
    @apply mt-20;

    & ul {
      @apply flex flex-row overflow-y-auto gap-5 -mt-10 w-full hide-scrollbar;
    }

    & ul li {
      @apply min-w-[230px] flex flex-row items-center;
    }

    & ul li p {
      @apply fancy-text mt-[22px] text-nowrap;
    }

    & ul li img {
      @apply w-[127px] h-[163px] rounded-lg object-cover -ml-3.5;
    }
  }

  .search {
    @apply w-full bg-light-100/5 px-2 py-1 lg:px-4 lg:px-1 rounded-lg mt-10 max-w-3xl mx-auto;

    & div {
      @apply relative flex items-center;
    }

    & img {
      @apply absolute left-2 h-5 w-5;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base text-gray-200 placeholder-light-200 outline-hidden;
    }
  }

  .all-movies {
    @apply space-y-9;

    & ul {
      @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
    }
  }

  .movie-card {
    @apply bg-dark-100 p-5 rounded-2xl shadow-inner shadow-light-100/10;

    & img {
      @apply rounded-lg h-auto w-full;
    }

    & h3 {
      @apply text-white font-bold text-base line-clamp-1;
    }

    & .content {
      @apply mt-2 flex flex-col items-start flex-wrap gap-2;
    }

    & .rating {
      @apply flex flex-row items-center gap-1;
    }

    & .rating img {
      @apply size-4 object-contain;
    }

    & .rating p {
      @apply font-bold text-base text-white;
    }

    & .content span {
      @apply text-sm text-gray-100;
    }

    & .content .lang {
      @apply capitalize text-gray-100 font-medium text-base;
    }

    & .content .year {
      @apply text-gray-100 font-medium text-base;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.modal-movie {
  @apply flex flex-col items-start min-[840px]:flex-row min-[840px]:items-center;
}

.movie-info-overview {
  @apply text-white font-medium text-base lg:text-lg;
}
.movie-info-rating {
  @apply font-medium text-base lg:text-lg;
}

.title-orig {
  @apply capitalize text-gray-100 font-medium text-base;
}

.movie-info-title {
  @apply text-gray-100 font-bold text-sm lg:text-xl;
  max-width: 120px;
  width: 100%;
}

.movie-info-genre {
  @apply text-white px-4 py-1 rounded-md bg-[#221f3d];
}

.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.95);
}

.react-responsive-modal-modal {
  background: var(--color-dark-100);
  border-radius: 14px;
  padding: 25px;
  margin: 0;
  max-width: 1200px;
  width: 100%;
  border: 2px solid rgba(57, 240, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0 0 6px #39f0ff, 0 0 14px rgba(57, 240, 255, 0.6),
    0 0 28px rgba(57, 240, 255, 0.35);
  @media (max-width: 480px) {
    padding: 15px;
  }
}

.react-responsive-modal-closeButton svg {
  fill: #fff;
}

.react-responsive-modal-container {
  padding: 30px;
  @media (max-width: 480px) {
    padding: 15px;
  }
}

@utility text-gradient {
  @apply bg-linear-to-r from-[#D6C7FF] to-[#AB8BFF] bg-clip-text text-transparent;
}

@utility fancy-text {
  -webkit-text-stroke: 5px rgba(206, 206, 251, 0.5);
  font-size: 190px;
  font-family: 'Bebas Neue', sans-serif;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

/* Стили для пагинации */
/* Отступ сверху */
.rc-pagination {
  margin-top: 30px !important;
}

/* Базовые элементы */
.rc-pagination-item,
.rc-pagination-prev .rc-pagination-item-link,
.rc-pagination-next .rc-pagination-item-link {
  background: #1a1a1a !important;
  border: 1px solid #333 !important;
  color: #ccc !important;
  border-radius: 8px !important;
  transition: 0.25s ease;
}

/* Текст */
.rc-pagination-item a {
  color: #ccc !important;
}

/* Hover */
.rc-pagination-item:hover,
.rc-pagination-prev:hover .rc-pagination-item-link,
.rc-pagination-next:hover .rc-pagination-item-link {
  border-color: #00eaff !important;
  color: #00eaff !important;
  box-shadow: 0 0 6px #00eaff55;
}

/* Активная страница — неоновая */
.rc-pagination-item-active {
  background: #00eaff !important;
  border-color: #00eaff !important;
  box-shadow: 0 0 10px #00eaff, 0 0 20px #00eaff55;
}

.rc-pagination-item-active a {
  color: #000 !important;
  font-weight: 600;
}

/* Стрелки */
.rc-pagination-prev button,
.rc-pagination-next button {
  color: #ccc !important;
}

.rc-pagination-prev:hover button,
.rc-pagination-next:hover button {
  color: #00eaff !important;
}
